<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bik'Box | Console</title>
    <link rel="icon" type="image/png" href="https://static.wixstatic.com/media/078127_69d27eaf48724d79acf9c702d5b88d56%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/078127_69d27eaf48724d79acf9c702d5b88d56%7Emv2.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <meta name="copyright" content="© Bik'Box 2018">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>